<div class="page-header">
  <h1 align="center"><strong>Listing all articles</strong></h1>
</div>
<%= link_to "Create new article", new_article_path, class: "btn btn-lg btn-success margin-bottom center-block" %>

<%= render 'article', obj: @articles %>
    
 