
<div class="containter">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">The try out Alpha Blog</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
